NODE_ENV=development
PORT=3000

POSTGRES_USER=taskmgr
POSTGRES_PASSWORD=changeme_in_prod
POSTGRES_DB=taskmgr
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://taskmgr:changeme_in_prod@localhost:5432/taskmgr?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

JWT_SECRET=please_change_me_to_a_long_random_string_at_least_32_chars
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=10

LOG_LEVEL=info
